# Application Configuration
PORT=5001

# Database Configuration
POSTGRES_USER=root
POSTGRES_PASSWORD=your_secure_password
POSTGRES_HOST=localhost
POSTGRES_PORT=5433
POSTGRES_DB=leads_db

# Prisma Connection String
POSTGRES_URL="postgresql://leads_tracker_user:Ur1lAfhoqnEW9j6LzE0jZPCiDkUxuQzq@dpg-d7guudsp3tds73a6pelg-a/leads_tracker"